

.news-container {
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.news-container h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px; 
  color: #333;
  text-transform: uppercase;
}

ul.article-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
}

.article-item {
  width: calc(33.33% - 10px); 
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
  background-color: transparent; 
  transition: transform 0.2s;
}

.article-item:hover {
  transform: translateY(-6px);
}

.items {
  display: flex;
}

.article-image {
  width: 100%; 
  height: 200px; 
  overflow: hidden;
}

.article-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-content {
  padding: 15px; 
}

.article-title {
  font-size: 18px;
  margin-bottom: 8px; 
  color: #333;
}

.article-description {
  font-size: 14px;
  color: #666; 
}
