.shopcard {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width:250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .img {
    width: 20px;
    height: 20px;
  }

  .product-name {
    font-weight: bold;
    margin-top: 8px;
  }

  .product-info {
    margin-top: 8px;
  }

  .add-to-cart {
    display: block;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
  }